@model IEnumerable<FutureValue.Web.ViewModels.ProjectionFormViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Some Projections</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresetValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowerBoundInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpperBoundInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncrementalRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaturityYears)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresetValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowerBoundInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpperBoundInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncrementalRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaturityYears)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ID  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
