@model IEnumerable<FutureValue.Web.ViewModels.ProjectionFormViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Projections</h1>

<p class="text-center text-capitalize">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table" id="TBL">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PresetValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowerBoundInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpperBoundInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncrementalRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaturityYears)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td class="preset-value">
                    @Html.DisplayFor(modelItem => item.PresetValue)
                </td>
                <td class="form-name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="lower-bound">
                    @($"{item.LowerBoundInterest:0.##}")
                </td>
                <td class="upper-bound">
                    @($"{item.UpperBoundInterest:0.##}")
                </td>
                <td class="increment">
                    @($"{item.IncrementalRate:0.##}")
                </td>
                <td class="Maturity">
                    @Html.DisplayFor(modelItem => item.MaturityYears)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new {id=item.ID},new {@class = "edit-link btn btn-dark" }) 
                    @Html.ActionLink("Details", "Details", new {  id=item.ID  },new {@class = "details-link btn btn-success" }) 
                    <a href="#TBL" data-id="@item.ID" class="delete-link btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/js/projectionform/indexpage.js"></script>
}
